.parent-container {
  display: flex;
  justify-content: space-around;
}

.input-btn  {
  display: flex;
  height: 30px;
  width: 290px;
  margin-bottom: 12px;
  text-transform: capitalize;
}

.submit-btn {
  height: 32px;
  width: 300px;
  text-transform: uppercase;
}
